@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");
body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
}
.list-container {
  position: absolute;
  width: 40vw;
  height: auto;
  background-color: rgb(66, 141, 245);
  border-radius: 15px;
}
p {
  text-align: center;
  font-size: 20px;
}
form {
  display: flex;
  justify-content: center;
}
.textf {
  width: 250px;
  padding: 3px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.add {
  width: 5rem;
  height: 26px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.add:hover {
  background-color: aquamarine;
  transition: 0.5s;
}
ul {
  align-items: center;
  display: flex;
  flex-direction: column;
}
li {
  text-decoration: line-through;
}
li:hover {
  cursor: pointer;
}
@media screen and (min-width: 800px) {
  .textf {
    width: 200px;
  }
  @media screen and (max-width: 941px) {
    .textf {
      width: 200px;
    }
  }
}
@media screen and (max-width: 400px) {
  .textf {
    width: 50px;
  }
}
